footer {

    background: linear-gradient(135deg, #0A0E27 0%, #1a1f41 100%);

    padding: 2rem 0;
    margin-top: 4rem;
}


.cont-footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title-footer {

    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

.title-footer h4 {
    display: flex;
    gap: 0.2rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;

}

.title-footer h4 small {

    color: white;
    font-size: 0.7rem;
}

.cont-footer p {

    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.cont-footer small {

    color: white;
    font-size: 0.7rem;
}