

.cont-projects h2 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Outfit', sans-serif;
}

.subtitle-projects {

    text-align: center;
    font-size: 1.1rem;
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.container-projects {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}