.cont-projects h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Outfit', sans-serif;
}

.subtitle-projects {

    text-align: center;
    padding-bottom: 0.5rem;
    width: 20rem;
    font-size: 1.05rem;
    margin: auto;
    color: var( --color-text-light);
    border-bottom: 1px solid var(--color-accent);
    margin-bottom: 3rem;
}

.container-projects {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}