    .service-card {
        background: white;
        padding: 3rem 2rem;
        border-radius: var(--border-radius);
        transition: var(--transition);
        border: 1px solid rgba(255, 107, 157, 0.1);
        position: relative;
        overflow: hidden;

        width: 90%;
        margin: auto;

    }

    .service-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, var(--color-accent), var(--color-secondary));
        transform: scaleX(0);
        transform-origin: left;
        transition: var(--transition);
    }

    .service-card:hover::before {
        transform: scaleX(1);
    }

    .service-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    }

    .section-header {

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .section-header h2 {

        font-size: 2.3rem;
        text-align: center;
        font-weight: 800;
        font-family: 'Outfit', sans-serif;

    }

    .section-header p {

        text-align: center;
    }




    .service-card h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: var(--color-primary);
    }

    .service-card p {
        color: var(--color-text-light);
        line-height: 1.8;
    }

    .service-card svg {

        width: 70px;
        height: 70px;
        margin: auto;
        color: var(--color-accent);
        margin-bottom: 1rem;
    }




    .container {

        margin-top: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    