/* =====================
   MEDIA QUERIES RESPONSIVE
   ===================== */

/* Móviles XS (≤575px) */
@media (max-width: 575px) {
    body::before {
        content: "XS";
        position: fixed;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: rgb(185, 6, 6);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }
}

/*SM: Móviles pequeños verticales y móviles estándar(576px – 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    body::before {
        content: "SM";
        position: fixed;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: rgb(0, 255, 30);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }

    /*=======================================HERO=================================*/

    .hero-content {



        width: 80%;
        margin: auto;

    }

    .hero-content h1 {

        font-size: 5rem;

    }

    /*=======================================SERVICES=================================*/

    .service-card {

        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    .container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .section-header,
    .cta-services {
        grid-column: 1 / -1;

    }


}

/*MD: Tablets verticales (768px – 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    body::before {
        content: "MD";
        position: fixed;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: rgb(1, 22, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;
    }

    /*=======================================HERO=================================*/


    .hero-content {

        padding: 1rem;

        gap: 2rem;



    }

    h2 {

        font-size: 3rem !important;
    }

    .hero-container {

        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        margin-top: 1rem;




    }

    .hero-content h1 {

        font-size: 5rem;
        margin: 0;
        padding: 0;
        margin-top: 1.4rem;


    }

    .hero-content p {

        text-align: left;
        padding: 0;


    }



    .hero-visual {

        margin-top: 0;
    }

    .hero-visual p {

        font-size: 0.8rem;
    }

    .hero-visual h5 {

        font-size: 1rem;
    }

    .hero-visual img {

        width: 200px;
        margin-top: 2.5rem;




    }

    /*=======================================SERVICES=================================*/

    .service-card {

        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    .container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .section-header,
    .cta-services {
        grid-column: 1 / -1;

    }

    /*=======================================PROJECTS=================================*/

    .container-projects {


        width: 80%;
        margin: auto;

    }

    /*=======================================CONTACT=================================*/



    .container-contact {


        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .subtitle-contact {
        grid-column: 1/-1;
    }




    .subtitle-contact p {

        width: 80%;
        margin: auto;
    }

}

/* LG Tablets horizontales / laptops pequeñas-mini LG (992px – 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {

    body::before {
        content: "LG";
        position: fixed;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: rgb(196, 1, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }

    /*=======================================HERO=================================*/
    h2 {

        font-size: 3.3rem !important;
    }

    .hero-content {

        padding: 1rem;
        gap: 2rem;

        width: 70%;
        margin: auto;



    }

    .hero-container {

        display: grid;
        grid-template-columns: 1.7fr 1fr;
        align-items: center;
        margin-top: 1rem;

        width: 90%;
        margin: auto;




    }

    .hero-content h1 {

        font-size: 5rem;
        margin: 0;
        padding: 0;



    }

    .hero-content p {

        text-align: left;
        padding: 0;


    }



    .hero-visual {

        margin-top: 0;
    }

    .hero-visual p {

        font-size: 0.8rem;
    }

    .hero-visual h5 {

        font-size: 1rem;
    }

    .hero-visual img {

        width: 300px;
        margin-top: 2.5rem;




    }

    /*=======================================SERVICES=================================*/

    .service-card {

        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    .container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        gap: 2rem;
        width: 70%;
        margin: auto;
    }

    .section-header,
    .cta-services {
        grid-column: 1 / -1;

    }

    /*=======================================PROJECTS=================================*/

    .container-projects {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: auto;
    }

    .project-card {

        height: 900px;
    }

    /*=======================================CONTACT=================================*/



    .container-contact {


        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .subtitle-contact {
        grid-column: 1/-1;
    }




    .subtitle-contact p {

        width: 80%;
        margin: auto;
    }

    /*=======================================WEB SERVICES=================================*/


    .container-webServices {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .title,
    .cta1 {

        grid-column: 1/-1;
    }

    .title {

        margin-bottom: 4rem;
    }

    .cta1 {

        margin-top: 4rem;
    }

    article .cardServices {

        min-height: 510px;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .body-card ul {

        margin: 0;
        min-height: 220px;

    }





}

/*SXL: laptos pequeñas(1200px – 1279px) */
@media (min-width: 1200px) and (max-width: 1279px) {
    body::before {
        content: "1200px-1279px";
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 20px;
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 5px;
        z-index: 9999;

    }
}

/*XL laptos grandes (1280px – 1399px) */
@media (min-width: 1280px) and (max-width: 1399px) {

    body::before {
        content: "XL";
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 20px;
        background: rgb(255, 102, 0);
        color: rgb(255, 255, 255);
        padding: 5px;
        z-index: 9999;
    }

    /*=======================================HERO=================================*/
    h2 {

        font-size: 3.6rem !important;
    }

    .hero-content {

        padding: 2.5rem 1rem;
        gap: 2rem;

        width: 90%;
        margin: auto;



    }

    .hero-container {

        display: grid;
        grid-template-columns: 1.7fr 1fr;
        align-items: center;
        margin-top: 1rem;

        width: 70%;
        margin: auto;




    }

    .hero-content h1 {

        font-size: 6rem;
        margin: 0;
        padding: 0;



    }

    .hero-content p {

        text-align: left;
        padding: 0;
        font-size: 1.3rem;


    }



    .hero-visual {

        margin-top: 0;
    }

    .hero-visual p {

        font-size: 1rem;
    }

    .hero-visual h5 {

        font-size: 1.2rem;
    }

    .hero-visual img {

        width: 300px;
        margin-top: 2.5rem;




    }

    /*=======================================SERVICES=================================*/

    .service-card {

        height: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    .container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        gap: 2rem;
        width: 70%;
        margin: auto;
    }

    .section-header,
    .cta-services {
        grid-column: 1 / -1;

    }

    /*=======================================PROJECTS=================================*/

    .container-projects {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        margin: auto;
    }

    .project-card {

        height: 800px;
    }

    /*=======================================CONTACT=================================*/



    .container-contact {


        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .subtitle-contact {
        grid-column: 1/-1;
    }




    .subtitle-contact p {

        width: 80%;
        margin: auto;
    }

    /*=======================================WEB SERVICES=================================*/


    .container-webServices {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .title,
    .cta1 {

        grid-column: 1/-1;
    }

    .title {

        margin-bottom: 4rem;
    }

    .cta1 {

        margin-top: 4rem;
    }

    article .cardServices {

        min-height: 510px;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .body-card ul {

        margin: 0;
        min-height: 220px;

    }

}

/*XXL: Pantallas grandes ≥1400px */
@media (min-width: 1400px) {
    body::before {
        content: "XXL";
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 20px;
        background: rgb(135, 181, 255);
        color: rgb(255, 255, 255);
        padding: 5px;
        z-index: 9999;
    }

    /*=======================================HERO=================================*/
    h2 {

        font-size: 3.8rem !important;
    }

    .hero-content {

        padding: 2.5rem 1rem;
        gap: 2rem;

        width: 90%;
        margin: auto;



    }

    .hero-container {

        display: grid;
        grid-template-columns: 1.7fr 1fr;
        align-items: center;
        margin-top: 1rem;

        width: 70%;
        margin: auto;




    }

    .hero-content h1 {

        font-size: 6rem;
        margin: 0;
        padding: 0;



    }

    .hero-content p {

        text-align: left;
        padding: 0;
        font-size: 1.3rem;


    }



    .hero-visual {

        margin-top: 0;
    }

    .hero-visual p {

        font-size: 1rem;
    }

    .hero-visual h5 {

        font-size: 1.2rem;
    }

    .hero-visual img {

        width: 300px;
        margin-top: 2.5rem;




    }

    /*=======================================SERVICES=================================*/

    .service-card {

        height: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    .container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        gap: 2rem;
        width: 70%;
        margin: auto;
    }

    .section-header,
    .cta-services {
        grid-column: 1 / -1;

    }

    /*=======================================PROJECTS=================================*/

    .container-projects {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        margin: auto;
    }

    .project-card {

        height: 900px;
    }

    /*=======================================CONTACT=================================*/



    .container-contact {


        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .subtitle-contact {
        grid-column: 1/-1;
    }




    .subtitle-contact p {

        width: 80%;
        margin: auto;
    }

    /*=======================================WEB SERVICES=================================*/


    .container-webServices {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .title,
    .cta1 {

        grid-column: 1/-1;
    }

    .title {

        margin-bottom: 4rem;
    }

    .cta1 {

        margin-top: 4rem;
    }

    article .cardServices {

        min-height: 510px;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .body-card ul {

        margin: 0;
        min-height: 220px;

    }
}